@tailwind base;
@tailwind components;
@tailwind utilities;
 
.glassmorphism {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  }
  
  .input-box {
    width: 100%;
    padding: 12px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    outline: none;
    color: white;
  }
  
  .btn {
    background: linear-gradient(45deg, #6b46c1, #b83280);
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  